<h1><%= @product_manufacturer.name %></h1>

<p><%= @product_manufacturer.description %></p>

<ul>
  <li><%= link_to "Edit", edit_product_manufacturer_path(@product_manufacturer) %></li>
  <li><%= link_to "Destroy", product_manufacturer_path(@product_manufacturer),
                  method: :delete,
                  data: { confirm: "Are you sure?" } %></li>
</ul>