<h1> Manufacturers and categories</h1>

  
<div class="container">
  <div class="row">
    <div class="col-3 mt-4 aside-hide">
      <nav class="card">
        <ul>
        <% @product_templates.each do |product_template| %>
            <li>
          <%= link_to product_template.name, admins_product_categories_path(:categ => product_template.id), class: "list-group-product_manufacturer" %>
            <li>
            <%= link_to product_template.name, admins_product_manufacturers_path(:categ => product_template.id), class: "list-group-product_category" %>
            <ul>
            <li><%= link_to "Edit", edit_admins_product_template_path(product_template) %></li>
            <li><%= link_to "Destroy", admins_product_template_path(product_template),
            method: :delete,
            data: { confirm: "Are you sure?" } %>
            </li>
            </ul>
            </li>
          <% end %>
        </ul>
